---
import Header from "@components/global/Header.astro";
import Footer from "@components/global/Footer.astro";
import "@bootstrap/dist/css/bootstrap.min.css";
import "../styles/style.css";
import { SEO } from "astro-seo";
import type { Props as SEOProps } from 'astro-seo'
interface Props {
  seo?: Partial<SEOProps>
}

const {seo} = Astro.props
---

<html lang="en">
  <head>
    <SEO
      title="Find the best prices for your pooch's favourite food"
      titleTemplate="%s · Dog Food Prices"
      description="Find the best deals for quality dog food from brands like ACANA, AATU, and Orijen"
      charset="utf-8"
      extend={{
        meta: [
          {name: "viewport", content: "width=device-width"},
          {name: "generator", content: Astro.generator},
        ],
        link: [
          {rel: "icon", type: "image/svg+xml", href: "/favicon.svg"},
          {rel: "sitemap", href: "/sitemap-index.xml"},
        ],
      }}
      {...seo}
    />
    {import.meta.env.PROD && (<script async src="https://analytics.umami.is/script.js" data-website-id="98d3739d-8b8f-4693-9746-458d88e560cc" data-domains="dogfoodprices.co.uk"></script>)}
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
